#about {
    margin-left: 65vw;
    margin-top: -30vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    letter-spacing: 13px;
}
#est {
    color: rgb(174, 226, 222);
    margin-left: 1.5vw;
}
#twenty {
    color: rgb(255, 231, 217);
}
#gal {
    color: black;
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: -2vw;
}
.graytext {
    color: rgb(200,200,200);
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: 1.2vw;
}
#mom {
    color: rgb(174, 226, 222);
    margin-top: 1.2vw;
    margin-left: 1.5vw;
    font-size: 50px;
    letter-spacing: 2px;
}
.kid {
    font-family: 'Annie Use Your Telescope', cursive;
    color: black;
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: 0.5vw;
    margin-left: 5vw;
}
.educator {
    color: black;
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: 0.5vw;
    display: flex;
    align-content: center;
    
}